
<h2 align="center">title: <%= @article.title %></h2>
<div class="card card-body bg-light col-10 offset-1">
<% if @article.user %>
  <ul class="listing">
    <div class='row align'>
      <div class="col-md-3 offset-md-3" id="gravatar">
        <li>created by:</li>
        <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %>
        <li class="article-title">
          <%= link_to @article.user.username,  user_path(@article.user) %>
        </li>
        <li><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
      </div>
    </div>  
  </ul>
<% end %>
  <h4 class="col-md-3 offset-md-4 description"><strong>  Description:</strong></h4>
  <hr>
 
  <%= simple_format(@article.description) %> </br>
  <div class="article-body">
 
      <small>Created by: <%= @article.user.username if @article.user %>,</br>
              <%= time_ago_in_words(@article.created_at)%> ago,</br>
              last updated: <%= time_ago_in_words(@article.updated_at)%> ago</small>
    
  </div>
  <div class="article-actions">
    <% if logged_in? && (current_user == @article.user || current_user.admin?)  %>
      <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-primary" %>
      <%= link_to "Delete this article", article_path(@article), method: :delete, data: {confirm: "Are you sure?" }, class:"btn btn-danger"%>
    <% end %>
    <%= link_to "View all article list ", articles_path, class:"btn btn-success" %>
  </div>
</div>